<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Dashboard</h2>
      </div>
    </div>
  </div>
</div>


<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
            <div class="card">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img src="assets/img/specialities/pt-dashboard-01.png" alt="" width="55">
                </div>
                <h5>Heart Rate</h5>
                <h6>{{data.heartRate}} <sub>bpm</sub></h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
            <div class="card">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img src="assets/img/specialities/pt-dashboard-02.png" alt="" width="55">
                </div>
                <h5>Body Temperature</h5>
                <h6>{{data.bodyTemperature}} <sub>C</sub></h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
            <div class="card">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img src="assets/img/specialities/pt-dashboard-03.png" alt="" width="55">
                </div>
                <h5>Glucose Level</h5>
                <h6>{{data.glucoseLevel}}</h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
            <div class="card">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img src="assets/img/specialities/pt-dashboard-04.png" alt="" width="55">
                </div>
                <h5>Blood Pressure</h5>
                <h6>{{data.bloodPressure}} <sub>mg/dl</sub></h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
            <div class="card">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img src="assets/img/image_2022_08_13T14_05_31_297Z.png" alt="" width="55">
                </div>
                <h5>Sp02</h5>
                <h6>{{data.spO2}} <sub>%</sub></h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
            <div class="card">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img src="assets/img/image_2022_08_13T14_05_31_303Z.png" alt="" width="55">
                </div>
                <h5>BMI</h5>
                <h6>{{data.bmi | number:'0.2'}}</h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
            <div class="card">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img src="assets/img/image_2022_08_13T14_05_31_308Z.png" alt="" width="55">
                </div>
                <h5>Weight</h5>
                <h6>{{data.weight}} <sub>kg</sub></h6>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
            <div class="card">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img src="assets/img/image_2022_08_13T14_05_31_309Z.png" alt="" width="55">
                </div>
                <h5>Height</h5>
                <h6>{{data.height}}<sub>cm</sub></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body pt-0">

            <nav class="user-tabs mb-4">
              <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                  <a class="nav-link active" href="#pat_appointments" data-bs-toggle="tab">Appointments</a>
                </li>
              </ul>
            </nav>


            <div class="tab-content pt-0">
              <div id="pat_appointments" class="tab-pane fade show active">
                <div class="card card-table mb-0">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Address</th>
                          <th>Notes</th>
                          <th>Booking Date</th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let appoinment of list;let i = index">
                          <td>{{i}}</td>
                          <td>{{appoinment.address}}</td>
                          <td>{{appoinment.note}}</td>
                          <td>{{appoinment.bookingDate}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
