

<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Medicine </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Medicine </h2>
      </div>
    </div>
  </div>
</div>


<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title float-start">Medicine </h4>
              </div>
              <div class="row" style="margin-top: 30px;margin-left: 12px">
                <div class="col-3" style="margin-left: 10px">
                  <input nz-input placeholder="Please input keyword" [(ngModel)]="name" />
                </div>
                <div class="col-2">
                  <nz-range-picker  [nzFormat]="dateFormat"
                                    [(ngModel)]="date"
                                    [nzDateRender]=""
                  ></nz-range-picker>
                </div>
                <div class="col-1">
                  <button class="btn btn-facebook" (click)="search()">Search</button>
                </div>
              <div class="card-body">
                <div class="card card-table mb-0">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th class="text-center">Day</th>
                          <th class="text-center">Note</th>
                          <th class="text-center">Start Date</th>
                          <th class="text-center">Duration</th>
                          <th class="text-center">Time</th>
                          <th class="text-center">Amount</th>
                          <th>Action</th>
                        </tr >
                        </thead>
                        <tbody>
                        <tr *ngFor="let medician of this.data;let i = index">
                          <td >{{i+1}}</td>
                          <td>{{medician.name}}</td>
                          <td class="text-center">{{medician.days}}</td>
                          <td class="text-center">{{medician.note}}</td>
                          <td class="text-center">{{medician.startDate}}</td>
                          <td class="text-center">{{medician.duration}}</td>
                          <td class="text-center">{{medician.reminderTimesSet[0].time}}</td>
                          <td class="text-center">{{medician.reminderTimesSet[0].amount}}</td>
                          <td>
                            <div class="table-action">
                              <a href="#edit_medical_form" class="btn btn-sm bg-info-light" data-bs-toggle="modal">
                                <i class="fas fa-edit"></i> Edit
                              </a>
                              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash-alt"></i> Delete
                              </a>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
