<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Contact Us</h2>
      </div>
    </div>
  </div>
</div>


<section class="contact-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h3 class="mb-4">Contact Us</h3>
        <p>Great doctor if you need your family member to get effective immediate assistance, emergency treatment or a simple consultation.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex">
        <div class="contact-box flex-fill">
          <div class="infor-img">
            <div class="image-circle">
              <i class="fa-solid fa-phone"></i>
            </div>
          </div>
          <div class="infor-details text-center">
            <label>Phone Number</label>
            <p>+84 98 670 345</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="contact-box flex-fill">
          <div class="infor-img">
            <div class="image-circle bg-primary">
              <i class="fa-solid fa-envelope"></i>
            </div>
          </div>
          <div class="infor-details text-center">
            <label>Email</label>
            <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fc9f9392889d9f88bc99849d918c9099d29f9391">doccare.hn@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="contact-box flex-fill">
          <div class="infor-img">
            <div class="image-circle">
              <i class="fa-solid fa-location-dot"></i>
            </div>
          </div>
          <div class="infor-details text-center">
            <label>Location</label>
            <p>Số 8A Tôn Thất Thuyết</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-form">
  <div class="container">
    <div class="section-header text-center">
      <h2>Get in touch!</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="width: 50%; margin-left:325px">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Your Name <span>*</span></label>
                <input type="text" required [(ngModel)]="name" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Your Email <span>*</span></label>
                <input type="text" [(ngModel)]="email" class="form-control">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Subject</label>
                <input type="text" [(ngModel)]="subject" class="form-control">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Comments <span>*</span></label>
                <textarea class="form-control" [(ngModel)]="messagebox">

											</textarea>
              </div>
            </div>
          </div>
          <button class="btn bg-primary" (click)="send()">Send Message</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="contact-map d-flex">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0969666091723!2d105.78049781476332!3d21.02880578599839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4cd0c66f05%3A0xea31563511af2e54!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1660443789860!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
