

<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Appointment</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Appointment</h2>
      </div>
    </div>
  </div>
</div>


<div class="content">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title float-start">Appointment </h4>
              </div>
              <div class="row" style="margin-top: 30px;margin-left: 12px">
                 <div class="col-3">
                   <input nz-input placeholder="Please input keyword" [(ngModel)]="keyword" />
                 </div>
                <div class="col-2">
                  <nz-range-picker  [nzFormat]="dateFormat"
                                    [(ngModel)]="date"
                                    [nzDateRender]=""
                  ></nz-range-picker>
                </div>
                <div class="col-1">
                  <button class="btn btn-facebook" (click)="search()">Search</button>
                </div>
              </div>
              <div class="card-body">
                <div class="card card-table mb-0">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Address</th>
                          <th>Note</th>
                          <th class="text-center">Date Booking</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let appointment of this.data;let i = index">
                          <td>{{i+1}}</td>
                          <td>{{appointment.address}}</td>
                          <td>{{appointment.note}}</td>
                          <td class="text-center">{{appointment.bookingDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                          <td>
                            <div class="table-action">
                              <button nz-button class="btn btn-sm bg-info-light" (click)="showModal(appointment)"><i class="fas fa-edit"></i> Edit</button>
                              <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                                <ng-container *nzModalContent>
                                  <div class="row form-row">
                                    <div class="col-12">
                                      <input nz-input placeholder="Basic usage" [(ngModel)]="address" />
                                    </div>
                                    <div class="col-12" style="margin:10px 0">
                                      <input nz-input placeholder="Basic usage" [(ngModel)]="note" />
                                    </div>
                                    <div class="col-12">
                                      <nz-date-picker [(ngModel)]="date" nzShowTime="true" style="width: 100%" (ngModelChange)="onChange($event)"></nz-date-picker>
                                    </div>
                                  </div>
                                </ng-container>
                              </nz-modal>
                              <a (click)="delete(appointment.id)" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash-alt"></i> Delete
                              </a>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
