

<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Health Vitals</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Health Vitals</h2>
      </div>
    </div>
  </div>
</div>


<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title float-start">Medical details</h4>
                <button class="btn btn-primary float-end" (click)="showModal()">Add Details</button>
                <nz-modal [(nzVisible)]="isVisible" nzFooter=" " nzWidth="550px" nzTitle="Health Vitals" (nzOnCancel)="handleCancel()"
                          (nzOnOk)="handleOk()">
                  <ng-container *nzModalContent>
                    <div class="modal-body">
                      <div class="modal-body">
                        <div>
                            <div class="modal-body"><input type="hidden" name="id" value="true"><input type="hidden"
                                                                                                       name="method"
                                                                                                       value="insert">
                              <div class="form-group"><label class="control-label mb-10"> Blood Pressure <span class="text-danger">*</span></label><input
                                type="text" name="bmi" class="form-control" [(ngModel)]="bloodPressure"></div>
                              <div class="form-group"><label class="control-label mb-10">Heart Rate </label><input
                                type="number" oninput="this.value = Math.abs(this.value)" min="0" name="hr" class="form-control" [(ngModel)]="hearthRate"></div>
                              <div class="form-group"><label class="control-label mb-10">SpO2</label><input
                                type="number" name="dob"  oninput="this.value = Math.abs(this.value)" class="form-control" [(ngModel)]="spO2">
                              </div>
                              <div class="form-group"><label class="control-label mb-10">Glucose  </label><input
                                type="number" name="dob" oninput="this.value = Math.abs(this.value)"  class="form-control" [(ngModel)]="glucoseLevel">
                              </div>
                              <div class="form-group"><label class="control-label mb-10">Body Temperature</label><input
                                type="number" name="Weight"oninput="this.value = Math.abs(this.value)" class="form-control" [(ngModel)]="bodyTemperature"></div>

                              <div class="form-group"><label class="control-label mb-10">Weight</label><input
                                type="number" name="dob" oninput="this.value = Math.abs(this.value)" id="editdob"  class="form-control" [(ngModel)]="weight">
                              </div>
                              <div class="form-group"><label class="control-label mb-10">Height</label><input
                                type="number" name="dob"  oninput="this.value = Math.abs(this.value)"  class="form-control" [(ngModel)]="height">
                              </div>
                            </div>
                            <div class="modal-footer text-center">
                              <button type="submit" class="btn btn-outline btn-success " (click)="save()">Submit</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </nz-modal>
              </div>
              <div class="row" style="margin-top: 30px;">
                <div class="col-2" style="margin-left: 15px">
                  <nz-range-picker  [nzFormat]="dateFormat"
                                    [(ngModel)]="date"
                                    [nzDateRender]=""
                  ></nz-range-picker>
                </div>
                <div class="col-1">
                  <button class="btn btn-facebook" (click)="search()">Search</button>
                </div>
              <div class="card-body">
                <div class="card card-table mb-0">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Body Temperature</th>
                          <th>Hearth Rate</th>
                          <th class="text-center">Glucose </th>
                          <th class="text-center">Blood Pressure</th>
                          <th>Height</th>
                          <th>Weight</th>
                          <th>BMI</th>
                          <th>SPO2</th>
                          <th>CreatedAt</th>
                          <th>Action</th>
                        </tr >
                        </thead>
                        <tbody>
                        <tr *ngFor="let vitals of this.data;let i = index">
                          <td >{{i+1}}</td>
                          <td style="display: flex">{{vitals.bodyTemperature}}  <span><p><sup>0</sup>C</p></span></td>
                          <td>{{vitals.heartRate}} Beats Per Minute</td>
                          <td class="text-center">{{vitals.glucoseLevel}} mg/dL</td>
                          <td class="text-center">{{vitals.bloodPressure}} mm Hg</td>
                          <td>{{vitals.height}} cm</td>
                          <td>{{vitals.weight}} kg</td>
                          <td> <span class="d-block text-info">{{vitals.bmi | number:'1.0-2'}}</span></td>
                          <td> <span class="d-block text-info">{{vitals.spO2}}</span></td>
                          <td> <span class="d-block text-info">{{vitals.updatedDate}}</span></td>
                          <td>
                            <div class="table-action">
                              <a href="#edit_medical_form" class="btn btn-sm bg-info-light" data-bs-toggle="modal">
                                <i class="fas fa-edit"></i> Edit
                              </a>
                              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash-alt"></i> Delete
                              </a>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
